<h2>Task # <%= @task.id %></h2>

<%= link_to 'Go back!', root_path %>

<%= render :partial => 'shared/form_errors', :locals => { :errors => @task.errors } %>

<%= form_for @task do |f| %>
  <p class="field">
    <%= f.text_field :description, :size => 40 %>
  </p>
  <p class="actions">
    <%= f.submit 'Save' %>
  </p>
<% end %>

<h2>Spent time on it</h2>

<% unless @task.time_spent_with_me? %>
  <p>There is no spent time yet. Do it!</p>
<% end %>
  
<%= render :partial => 'shared/form_errors', :locals => { :errors => @spent_time.errors } %>

<%= render 'spent_times/spent_time_form' %>

<% if @task.time_spent_with_me? %>
  <h3>See details below:</h3>
  
  <ul>
    <%= render @task.spent_times %>
  </ul>
<% end %>
