<h2>Task # <%= @task.id %></h2>

<%= link_to 'Go back!', root_path %>

<%= render :partial => 'shared/form_errors', :locals => { :errors => @task.errors } %>

<%= form_for @task do |f| %>
  <p class="field">
    <%= f.text_field :description, :size => 40 %>
  </p>
  <p class="actions">
    <%= f.submit 'Save' %>
  </p>
<% end %>

<h2>Spent time on it</h2>

<%= render :partial => 'shared/form_errors', :locals => { :errors => @spent_time.errors } %>

<%= form_for @spent_time do |f| %>
  <%= f.hidden_field :task_id, :value => @task.id %>
  <p class="field">
    <%= f.label :spent_time, 'How many minutes?' %>
    <%= f.text_field :spent_time, :size => 5 %>
  </p>
  <p class="field">
    <%= f.label :day, 'When?' %>
    <%= date_select :spent_time, :day %>
  </p>
  <p class="actions">
    <%= f.submit 'Add' %>
  </p>
<% end %>

<% if @task.time_spent_with_me? %>
  <h3>See details below:</h3>
  
  <ul>
    <%= render @task.spent_times %>
  </ul>
<% end %>
