<h1>New Task</h1>

<%= form_for @task do | f | %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end%>
