<%= form_for @user, :html => { :class => 'formatted' } do | f | %>
  
  <%= render :partial => 'shared/form_errors', :locals => { :errors => @user.errors } %>
  
  <% unless signed_in? %>
    <p class="field">
      <%= f.label :username, 'User name' %>
      <%= f.text_field :username %>
    </p>
  <% end %>
  <% if signed_in? %>
    <p class="field">
      <%= f.label :firstname, 'First name' %>
      <%= f.text_field :firstname %>
    </p>
    <p class="field">
      <%= f.label :lastname, 'Last name' %>
      <%= f.text_field :lastname %>
    </p>
  <% end %>
  <p class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p class="field">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="actions">
    <%= f.submit "Save", :class => 'submit' %>
  </p>
<% end%>
