<%= form_for @user do | f | %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
          prohibited this user from being saved:</h2>
      <p>There were problems with the following fields:</p>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% unless signed_in? %>
    <p class="field">
      <%= f.label :username, 'User name' %>
      <%= f.text_field :username %>
    </p>
  <% end %>
  <% if signed_in? %>
    <p class="field">
      <%= f.label :firstname, 'First name' %>
      <%= f.text_field :firstname %>
    </p>
    <p class="field">
      <%= f.label :lastname, 'Last name' %>
      <%= f.text_field :lastname %>
    </p>
  <% end %>
  <p class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p class="field">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="actions">
    <%= f.submit "Save" %>
  </p>
<% end%>
