<tr id="task_list_item_<%= task.id %>">
  <td id="task_list_item_description_<%= task.id %>">
    <%= render :partial => 'shared/description_field_form', :locals => { :task => task } %>
  </td>
  <td id="task_list_item_spent_time_<%= task.id %>">
    <%= render :partial => 'shared/new_task_spent_time_link', :locals => { :task => task } %>
  </td>
  <td id="completed_field_form_<%= task.id %>">
    <%= render :partial => 'shared/completed_field_form', :locals => { :task => task } %>
  </td>
  <td>
    <%= button_to "Delete", task, :method => :delete, :remote => true, :class => 'submit' %>
  </td>
</tr>
