<%= form_for [@task, @spent_time], :remote => true do |f| %>
  <p class="field">
    <%= f.label :spent_time, 'How many minutes?' %>
    <%= f.text_field :spent_time, :size => 5 %>
  </p>
  <p class="field">
    <%= f.label :day, 'When?' %>
    <%= date_select :spent_time, :day %>
  </p>
  <p class="actions">
    <%= f.submit 'Add' %>
  </p>
<% end %>
