if (!$("#spent_time_for_list_item_<%= @task.id %>").exists()) {
  $("#task_list_item_<%= @task.id %>").after(" \
    <tr id='spent_time_for_list_item_<%= @task.id %>'> \
      <td colspan='4'> \
        <div class='arrow_up'></div> \
        <div class='spent_time round'> \
          <%= escape_javascript(link_to 'X', root_path, :remote => true, :class => 'close', :id => 'close_spent_time_form_' + @task.id.to_s) %> \
          <%= escape_javascript(render 'spent_times/spent_time_form') %> \
        </div> \
      </td> \
    </tr> \
  ");
  $('#close_spent_time_form_<%= @task.id %>').bind('ajax:before', function() {
    $(this).closest('tr').remove();
  });
}
else {
  $("#spent_time_for_list_item_<%= @task.id %>").remove();
}
