<!DOCTYPE html>
<html>
<head>
  <title>WorkDays</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <div id="nav" class="round">
    <%= link_to "Home", root_path %> |
    <%= link_to "Settings", edit_user_path(current_user) %> |
    <%= link_to "Sign out", signout_path %>
  </div>
<% end %>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>
